*{background-color: antiquewhite;}
#red{color: red;}
#blue{color: blue;}

.color{font-weight: normal;}
img{height: 100px; width: 100px;}
h1{color: rgb(119, 40, 40);}
h1{background-color: rgb(129, 90, 165);}
#green{color: green;}
h2{color: blue; background-color: rgb(104, 104, 190);}
